<%=link_to("Home", pages_home_path, :class => 'home-link') %>
<br>

<h1>Add a book</h1>

<%= form_for Book.new, :url  => pages_create_path, :method => :post do |f| %>
  <table>
    <div class="field">
      <%= f.label :Title %>
      <%= f.text_field :Title %>
    </div>
    <br></br>
    <div class="field">
      <%= f.label :Author %>
      <%= f.text_field :Author %>
    </div>
    <br></br>
    <div class="field">
      <%= f.label :Genre %>
      <%= f.select :Genre,  ['Please select','Mystery','Fantasy','Nonfiction','Sci-fi','Romance','Horror','Other'], :prompt => 'Please Select' %>
    </div>
    <br></br>
    <div class="field">
      <%= f.label :Price %>
      <%= f.number_field :Price, step: :any %>
    </div>
    <br></br>
    <div class="field">
      <%= f.label :'Published date' %>
      <%= f.date_select :PublishedDate, :start_year=>1800, :order => [:day, :month, :year] %>
    </div>
  </table>
  <div class="form-buttons">
    <%= f.submit("Create") %>
  </div>
<% end %>