<%=link_to("Home", pages_home_path, :class => 'home-link') %>
<br>
  
<h1>Show Book</h1>
  <table summary="Book detail view">
    <tr>
      <th>Title</th>
      <td>
        <%= @book.Title %>
      </td>
    </tr>
    <tr>
      <th>Author</th>
      <td>
        <%= @book.Author %>
      </td>
    </tr>
    <tr>
      <th>Genre</th>
      <td>
        <%= @book.Genre %>
      </td>
    </tr>
    <tr>
      <th>Price</th>
      <td>
        <%= @book.Price %>
      </td>
    </tr>
    <tr>
      <th>Published Date</th>
      <td><%= @book.PublishedDate %></td>
    </tr>
  </table>
